
<h2><%= @application.name %></h2>
<h5>Street: <%= @application.street_address %></h5>
<h5>City: <%= @application.city %></h5>
<h5>State: <%= @application.state %></h5>
<h5>Zipcode: <%= @application.zipcode %></h5>
<h5>Pets: <% @application.pets.each do |pet| %>
  <%= pet.name %>
<% end %></h5>
<h5>Description: <%= @application.description %></h5>
<h5>Application Status: <%= @application.status %></h5>

<% if @application.status == "Pending" %>
    <%= button_to "Approve Application", "/admin/applications/#{@application.id}", params: {:status => "Approved"}, method: :patch %>
    <%= button_to "Reject Application", "/admin/applications/#{@application.id}", params: {:status => "Rejected"}, method: :patch%>
<% elsif @application.status == "Approved" %>
    <p><% @application.pets.each do |pet| %>
        <%= pet.name %> Approved
    <% end %></p> 
<% elsif @application.status == "Rejected" %>  
    <p><% @application.pets.each do |pet| %>
        <%= pet.name %> Rejected
    <% end %></p> 
<% end %>

<% form_with() do |f| %>
    <%= f.submit 'A' %>
    <%= f.submit 'R' %>
<% end %>