
<h2><%= @application.name %></h2>
<h4><%= @application.street_address %></h4>
<h4><%= @application.city %></h4>
<h4><%= @application.state %></h4>
<h4><%= @application.zipcode %></h4>
<h4><%= @application.status %></h4>