
<h2><%= @application.name %></h2>
<h5>Street: <%= @application.street_address %></h5>
<h5>City: <%= @application.city %></h5>
<h5>State: <%= @application.state %></h5>
<h5>Zipcode: <%= @application.zipcode %></h5>
<h5>Pets: <% @application.pets.each do |pet| %>
  <%= pet.name %>
<% end %></h5>
<h5>Description: <%= @application.description %></h5>
<h5>Application Status: <%= @application.status %></h5>

<% if @application.status == "In Progress" %>
  <h4> Add a Pet to this Application: </h4>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search, params: :search %>
    <%= f.submit "Submit" %>

  <% end %>

  <% if @pets != nil %>
    <% @pets.each do |pet| %>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
        <%= button_to "Adopt #{pet.name}", "/applications/#{@application.id}/#{pet.id}", method: :patch %>
    <% end %>
  <% end %>

  <% if @application.pet_count > 0 %>
    <%= form_with url: "/applications/#{@application.id}/", to:'applications#edit', method: :patch, local: true do |f| %>
      <%= f.label :description, "Description:" %>
      <%= f.text_field :description %>
      <%= f.submit "Submit Application" %> 
    <% end %>
  <% end %>
<% end %>



