
<h2><%= @application.name %></h2>
<h5>Street: <%= @application.street_address %></h5>
<h5>City: <%= @application.city %></h5>
<h5>State: <%= @application.state %></h5>
<h5>Zipcode: <%= @application.zipcode %></h5>
<h5>Application Status: <%= @application.status %></h5>

<h4> Add a Pet to this Application: </h4>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search, params: :search %>
  <%= f.submit "Submit" %>

<% end %>

<% if @pets != nil %>
  <% @pets.each do |pet| %>
      <%= pet.name %>
  <% end %>
<% end %>



